*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(180deg,#8fd3ff,#2f8dd8,#0b3d73);
    min-height:100vh;
    color:white;
    overflow-x:hidden;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    padding:20px;
}

.content{
    width:90%;
    max-width:420px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(18px);
    border-radius:30px;
    padding:40px 30px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,.2);
}

.content h1{
    font-size:42px;
}

.content h2{
    margin:15px 0;
    font-weight:300;
}

.content h3{
    font-size:34px;
    color:#FFF4B0;
    margin:25px 0;
}

.content p{
    line-height:1.8;
    margin-bottom:15px;
}

button{
    width:100%;
    margin-top:20px;
    padding:18px;
    border:none;
    border-radius:40px;
    background:white;
    color:#2196f3;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.wave{
    position:absolute;
    bottom:-80px;
    left:0;
    width:200%;
    height:220px;
    background:rgba(255,255,255,.18);
    border-radius:45%;
    animation:wave 12s linear infinite;
}

@keyframes wave{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-50%);
    }
}

.page{

    min-height:100vh;

    padding:40px 20px;

    background:linear-gradient(180deg,#8fd3ff,#2f8dd8,#0b3d73);

}

.page h1{

    text-align:center;

    margin-bottom:40px;

}

.menuCard{

    max-width:420px;

    margin:25px auto;

    padding:30px;

    border-radius:25px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(18px);

    text-align:center;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.menuCard:hover{

    transform:translateY(-8px);

}

.emoji{

    font-size:55px;

    margin-bottom:15px;

}

.menuCard h2{

    margin-bottom:10px;

}

.menuCard p{

    opacity:.9;

}

.dayTitle{

font-size:26px;

font-weight:bold;

margin:35px auto 15px;

max-width:420px;

}

.scheduleCard{

max-width:420px;

margin:12px auto;

padding:18px 20px;

border-radius:18px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.time{

display:inline-block;

width:70px;

font-weight:bold;

color:#FFF4B0;

}

.lockBtn{

background:white;

color:#2196f3;

border:none;

width:50px;

height:50px;

border-radius:50%;

font-size:22px;

cursor:pointer;

}

.backBtn{

margin:20px auto;

display:block;

padding:12px 25px;

border:none;

border-radius:30px;

background:white;

color:#2196f3;

font-weight:bold;

cursor:pointer;

}
